.blog-post {
	overflow: hidden;
	overflow-y: scroll;
}

.post-exceprt {
	margin-top: 2%;
	margin-right: 5%;

}


.cards {
	displau: flex;
	flex-wrap: wrap;
	list-stype: none;
	margin: 0;
	padding: 0;
}

.cards__item {
	display: flex;
	padding: 1rem;
	@media(min-width: 40rem) {
		 width: 50%;
	}
	@media(min-width: 56rem) {
			width: 33.3333%;
	}

}
