.blog-post {
	overflow: hidden;
	overflow-y: scroll;
}

.post-exceprt {
	margin-top: 2%;
	margin-right: 5%;

}

*,
*::before,
*::after { 
  box-sizing: border-box;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.cards__item {
	display: flex;
	padding: 1rem;

	
}



@media(min-width: 60rem) {
	.cards__item{
    	width: 33.3333%;
	}
}